header {
    display: flex;
    justify-content: center;
    align-items: center;   

}

section {
    width: 80%;
    margin: auto;
}

section h3 {
    margin-top: 25px;
}


section p {
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 8px;
    width: fit-content;
}


button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background-color: #e0e0e0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}


button:hover {
    background-color: #c5c5c5;
}


.vrai {
    background-color: #4CAF50 ; 
    color: white;
}

.faux {
    background-color: #e53935 ;
    color: white;
}
